apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: fairline
type: Opaque
stringData:
  DB_USER: ""
  DB_PASSWORD: ""
  JWT_SECRET: ""
  MAIL_USERNAME: ""
  MAIL_PASSWORD: ""
  TOSS_SECRET_KEY: ""
  OPENAI_API_KEY: ""
